<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asteroid Predictions Table</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Link to custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Asteroid Classifier Predictions: {{start_date}} to {{end_date}}</h1>
        <div class="table-responsive">  <!-- Added table-responsive class -->
            {{ table_data|safe }} <!-- This will render the HTML table -->
        </div>
        <a href="/">Go back to Dashboard</a>
    </div>
</body>
</html>
